.user-imgs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  .user-img-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    img {
      width: 15rem;
      height: 15rem;
    }
    .btns-container {
      display: flex;
      gap: 0.5rem;
      button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
