<div class="edit-user-container" *ngIf="member && user">
	<h1>Edit profile of the user: {{member.knownAs}}</h1>
	<div class="edit-options">
		<button (click)="currentEdit = 'info'" [disabled]="currentEdit === 'info'">Edit Profile</button>
		<button (click)="currentEdit = 'photos'" [disabled]="currentEdit === 'photos'">Edit Images</button>
	</div>

	<div class="current-form">
		<app-edit-info *ngIf="currentEdit === 'info'" [member]="member" [user]="user"></app-edit-info>
		<app-edit-photos *ngIf="currentEdit === 'photos'" [member]="member" [user]="user"></app-edit-photos>
	</div>
</div>