<header>
	<div class="left-container">
		<a class="header-link" routerLink="/">Dating App</a>
		<app-nav *ngIf="accountService.currentUser$ | async" (logout)="logout()"></app-nav>
	</div>

	<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
		<input name="username" [(ngModel)]="model.username" type="text" placeholder="Username" />
		<input name="password" [(ngModel)]="model.password" type="password" placeholder="Password" />
		<button type="submit">Login</button>
	</form>

	<div class="dropdown" *ngIf="accountService.currentUser$ | async">
		<p>Welcome: user ^</p>
		<div class="dropdown-content">
			<button routerLink="/member/edit">Edit</button>
			<button (click)="logout()">Logout</button>

		</div>
	</div>

</header>