.edit-roles-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .form-info {
      display: flex;
      align-items: center;
      gap: 1rem;
      .custom-check {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        input {
          width: 1.5rem;
          height: 1.5rem;
        }

        input,
        label {
          cursor: pointer;
        }
      }
    }

    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
}
