.input-container {
  input {
    width: 100%;
    padding: 1rem;
  }

  .invalid-text {
    font-size: 0.8rem;
    color: red;
    white-space: nowrap;
  }
}

.is-invalid {
  border-color: red;
  outline-color: red;
  &::placeholder {
    color: rgb(163, 16, 16);
  }
}
