<div class="list-container">
	<h1>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h1>

	<div class="btns-container">
		<button type="button" (click)="predicate = 'liked'; loadLikes()">Members I like</button>
		<button type="button" (click)="predicate = 'likedBy'; loadLikes()">Members who like me</button>
	</div>
	<div class="users-container">
		<div class="single-card" *ngFor="let member of members">
			<app-member-card [member]="member"></app-member-card>
		</div>
	</div>

	<mat-paginator *ngIf="pagination" [pageSize]="pagination.itemsPerPage" [length]="pagination.totalItems" (page)="changePage($event)"
	[pageSizeOptions]="[4, 8, 10]"></mat-paginator>
</div>