<div class="member-details-container" *ngIf="member">
	<div class="details-container">
		<div class="img-container">
			<img src="{{member.photoUrl || './assets/images/user.png'}}" alt={{member.knownAs}} />
		</div>

		<div class="info-container">
			<div class="online-user" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.username)">
				<span>Online now:</span>
				<div class="online-indicator"></div>
			</div>

			<div class="single-info" *ngFor="let singleInfo of detailsMap">
				<h4>{{singleInfo.label}}</h4>
				<p *ngIf="singleInfo.value === 'lastActive' || singleInfo.value === 'created'; else otherInfo">
					{{member[singleInfo.value] | timeAgo}}
				</p>

				<ng-template #otherInfo>
					<p>{{member[singleInfo.value]}}</p>
				</ng-template>
			</div>

			<div class="actions-container">
				<button (click)="onTabClick('more')" [disabled]="currentView === 'more'">More Info</button>
				<button (click)="onTabClick('messages')" [disabled]="currentView === 'messages'">Message</button>
			</div>
		</div>
	</div>

	<div class="main-member-view">
		<h1>{{currentView === 'more' ? "Here you can find more details about the user:" : "Send message to user:"}}</h1>
		<div class="main-member-details-container" *ngIf="currentView === 'more'; else messageInfo">
			<div class="single-info" *ngFor="let singleInfo of mainDetailsMap">
				<h2>{{singleInfo.label}}</h2>
				<p>{{member[singleInfo.value]}}</p>
			</div>

			<div class="user-photos-container">
				<h2>Photos:</h2>
				<div class="photos-container">
					<div class="photo-container" *ngFor="let photo of member.photos">
						<img [src]="photo.url" alt="user photo" />
					</div>
				</div>
			</div>
		</div>

		<ng-template #messageInfo>
			<app-send-message [username]="member.username"></app-send-message>
		</ng-template>

	</div>

</div>