.member-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  .members-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
