.member-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  .members-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    form {
      display: flex;
      gap: 0.5rem;
      .single-field {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        select {
          padding: 0.5rem 1rem;
        }
        input[type="number"] {
          width: 3rem;
        }
      }

      .order-by-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        button {
          cursor: pointer;
          padding: 0.55rem 1.15rem;
        }
      }

      .btns-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        button {
          cursor: pointer;
          padding: 0.65rem 1.25rem;
        }
      }
    }
  }
}
